# Pandas b√°sico

In [1]:
import pandas as pd

BASE = "dados/cereal.csv"

df = pd.read_csv(BASE)

df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [2]:
df.nunique()

name        77
mfr          7
type         2
calories    11
protein      6
fat          5
sodium      27
fiber       13
carbo       22
sugars      17
potass      36
vitamins     3
shelf        3
weight       7
cups        12
rating      77
dtype: int64

In [4]:
df["rating"].value_counts()

rating
68.402973    1
40.692320    1
49.511874    1
63.005645    1
60.756112    1
            ..
31.435973    1
32.207582    1
44.330856    1
36.176196    1
36.187559    1
Name: count, Length: 77, dtype: int64

In [6]:
df["rating"].value_counts(bins=10)

(33.175, 40.741]                22
(25.609, 33.175]                14
(48.308, 55.874]                12
(40.741, 48.308]                11
(17.965999999999998, 25.609]     6
(55.874, 63.44]                  6
(63.44, 71.006]                  3
(71.006, 78.572]                 2
(86.139, 93.705]                 1
(78.572, 86.139]                 0
Name: count, dtype: int64

In [7]:
df["rating"].value_counts(bins=10).sort_index()

(17.965999999999998, 25.609]     6
(25.609, 33.175]                14
(33.175, 40.741]                22
(40.741, 48.308]                11
(48.308, 55.874]                12
(55.874, 63.44]                  6
(63.44, 71.006]                  3
(71.006, 78.572]                 2
(78.572, 86.139]                 0
(86.139, 93.705]                 1
Name: count, dtype: int64

In [8]:
df["rating"].value_counts(bins=10, normalize=True).sort_index()

(17.965999999999998, 25.609]    0.077922
(25.609, 33.175]                0.181818
(33.175, 40.741]                0.285714
(40.741, 48.308]                0.142857
(48.308, 55.874]                0.155844
(55.874, 63.44]                 0.077922
(63.44, 71.006]                 0.038961
(71.006, 78.572]                0.025974
(78.572, 86.139]                0.000000
(86.139, 93.705]                0.012987
Name: proportion, dtype: float64

In [10]:
df["rating"].value_counts(bins=10, normalize=True).sort_index().mul(100).round(2)

(17.965999999999998, 25.609]     7.79
(25.609, 33.175]                18.18
(33.175, 40.741]                28.57
(40.741, 48.308]                14.29
(48.308, 55.874]                15.58
(55.874, 63.44]                  7.79
(63.44, 71.006]                  3.90
(71.006, 78.572]                 2.60
(78.572, 86.139]                 0.00
(86.139, 93.705]                 1.30
Name: proportion, dtype: float64